#header2{
  background-color: #e86b1c;
  font-family: sans-serif;
}

#header2 a, #header1 a{
  text-decoration: none;
  color: white;
}
#header1 a{color: black;}

#header2 div:hover{
  background-color: white;
}
#header2 div:hover a{
  color: #e86b1c;
}

.btn-primary{
  background-color: #e86b1c;
  border: none;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.btn-primary:hover, .btn-primary:active{
  background-color: #e75900;
}