*{
  margin: 0;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(236, 236, 255);
}

h1{
  margin: 60px;
  color: rgb(136, 0, 0);
  font-size: 64px;
  font-family: Voice in my Head;
}

h2{
  margin: 20px;
  font-size: 32px;
  text-transform: uppercase;
}

a{
  color: inherit;
  text-decoration: inherit;
  background-color: inherit;
}

div.contenedor-principal{
  margin-top: 60px;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}

div.boton{
  border: 4px solid rgb(136, 0, 0);
  border-radius: 30px;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
  padding: 15px;
  margin: 10px;
  background-color: rgb(30, 30, 30);
  color: white;
  font-size: 24px;
  display: inline-block;
  font-weight: bold;
  transition: 0.3s;
}

div.boton:hover{
  transition: 0.3s;
  background-color: whitesmoke;
  color: rgb(136, 0, 0);
  border: 4px solid black;
}